<nav>
		<ul>
			<li>
				<a href="http://localhost:8081/">Accueil</a>
			</li>
			<li>
				<a href="http://localhost:8081/membres">Membres</a>
			</li>
			<li>
				<a href="http://localhost:8081/peupler">Peupler</a>
			</li>
			<li>
				<a href="http://localhost:8081/viderlaliste">Vider la liste</a>
			</li>
		</ul>
</nav>