<nav>
		<ul>
			<li>
				<a href="#">Accueil</a>
			</li>
			<li>
				<a href="http://localhost:8081/membres">Membres</a>
			</li>
			<li>
				<a href="http://localhost:8081/afficher">Profil d'un membre</a>
			</li>
		</ul>
</nav>