body {
  background-color: #E8E8E8;
}
h1 {
  text-align: center;
  font-family: 'Permanent Marker';
}
h2 {
  text-align: center;
  font-family: 'Questrial';
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-left: 250px;
}
nav ul li a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-family: 'Questrial';
  font-size: 1.5em;
  color: #000000;
  pointer: cursor;
  transition: all ease-in-out 1s;
}
nav ul li a:hover {
  color: red;
  text-decoration: underline;
}
.tableau {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  width: 300px;
}
.tableau td,
.tableau th {
  border: 1px dotted #000000;
  padding: 15px;
  font-family: 'Questrial';
}
label {
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Questrial';
}
.formulaire {
  margin: 0 auto;
  padding: 10px;
  border: 1px dotted #000000;
  width: 300px;
  margin-top: 30px;
}
input {
  margin: 10px;
}
input[type=text]#barreRecherche {
  padding: 10px;
  margin-left: 850px;
  margin-bottom: 15px;
}
input[type=submit].ajout {
  border-radius: 20px;
  font-family: 'Questrial';
  font-size: 1em;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#mon_formulaire {
  visibility: hidden;
}
footer {
  display: flex;
  font-family: 'Questrial';
  justify-content: center;
  font-size: 1.2em;
}
.ajouter,
.supprimer,
.sauver {
  text-decoration: none;
}
.ajouter:hover,
.supprimer:hover,
.sauver:hover {
  text-decoration: underline;
}
.retour {
  display: flex;
  border: 1px solid #000000;
  text-decoration: none;
  font-family: 'Questrial';
  font-size: 1.2em;
  margin-left: 910px;
  margin-right: 655px;
  margin-top: 10px;
  color: #000000;
  padding: 10px;
  border-radius: 4px;
}
.retour:hover {
  background-color: #000000;
  color: #ffffff;
}
