@keyframes animMenu {
  from {
    background-color: #ffffff;
    opacity: 0;
    padding: 11px;
  }
  to {
    background-color: #ffffff;
    opacity: 1;
    padding: 11px;
  }
}
body {
  background-image: url('images/texture2.png');
}
h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Permanent Marker';
}
.titreAccueil {
  margin-bottom: 634px;
}
h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Questrial';
}
nav ul {
  list-style-type: none;
  background-color: #000000;
  padding: 10px;
  margin: 0 auto;
}
nav ul li {
  display: inline;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-family: 'Questrial';
  font-size: 1.2em;
  color: #ffffff;
  pointer: cursor;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
nav ul li a:hover {
  color: red;
  text-decoration: underline;
  animation-name: animMenu;
  animation-duration: 2s;
}
.tableau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-collapse: collapse;
}
.tableau td,
.tableau th {
  border: 1px dotted #000000;
  padding: 15px;
  font-family: 'Questrial';
  background-color: #ffffff;
}
label {
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Questrial';
}
.formulaire {
  margin: 0 auto;
  padding: 10px;
  border: 1px dotted #000000;
  width: 300px;
  margin-top: 30px;
}
.formulaire input[type=text].bonFormulaire {
  margin: 8px;
}
.formulaire input[type=submit].ajout {
  border-radius: 20px;
  font-family: 'Questrial';
  font-size: 1em;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.formRecherche input[type=text]#barreRecherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}
.formRecherche input[type=submit].chercher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 20px;
  font-family: 'Questrial';
  font-size: 1em;
  text-align: center;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 8px;
}
#mon_formulaire {
  visibility: hidden;
  margin: 0;
}
.ajouter,
.supprimer,
.sauver {
  text-decoration: none;
}
.ajouter:hover,
.supprimer:hover,
.sauver:hover {
  text-decoration: underline;
}
.retour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Questrial';
  font-size: 1.2em;
  margin-top: 10px;
  color: #000000;
  padding: 10px;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Questrial';
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2em;
  background-color: #000000;
  color: #ffffff;
}
/*--------------------------MEDIA QUERIES-------------------------------------*/
@media screen and (max-width: 640px) {
  h1,
  h2,
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  nav ul {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  nav ul li {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 768px) {
  h1,
  h2,
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  nav ul li {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
